/node_modules
/public/hot
/public/storage
/public/docs
/resources/docs/groups
/resources/docs/authentication.md
/resources/docs/index.md
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
